:root {
  font-size: 16px;
  font-weight: 400;
}

*:not(i) {
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0;
}

/* Framework */
.min-h-100vh {
  min-height: 100vh;
}
.cursor-pointer {
  cursor: pointer;
}
.line-height-24px {
  line-height: 24px !important;
}
.CTA-Btn {
  width: 220px;
  height: 70px;
  border-radius: 40px !important;
  background-color: #b6205f !important;
  border: 4px solid #5e1539 !important;
}
.overflow-hidden {
  overflow: hidden;
}
.max-w-100percent {
  max-width: 100%;
}
